seth is cool

<div id="users">

    <% @users.each do |user| %>
          <p>
              Name: <%= link_to user.name, user %>  <br>
              Number: <%= user.phone %> <br>
              Email: <%= user.email %> <br>
            </p>
          <% end %>

</div>



<%= link_to 'new', new_user_path %>
